<?xml version="1.0" ?>

<launch>
  <param name="use_sim_time" value="false" />

  <node pkg="calib_accelerometer" type="calib_accel" name="accl_calibrator" output="screen">
    <remap from="/imu_input" to="/imu/data"/>
    <param name="max_samples" value="600" />
    <param name="log" value="true" />
  </node>

    <!-- visualization: opengl 4.0 issue, use opengl 3.0 instead -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-1-opengl 300 -d $(find calib_accelerometer)/launch/display.rviz" />  -->

  <!-- ros service for send commands: start,stop,calibrate -->
  <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" 
        args="--perspective-file $(find calib_accelerometer)/launch/Default.perspective"/>

</launch>


