<launch>

  <arg name="robot_name" default="alpha_rise"/>

  <node ns="$(arg robot_name)" pkg="mvp_roslaunch_manager" type="roslaunch_manager_node.py" 
        name="roslaunch_manager_node" output="screen">

        <param name = "udp_srv_ip" value ="" />
        <param name = "udp_port" value ="5050" />
        
  </node>

</launch>