<?xml version="1.0"?>
<!--
    This file is part of ALPHA AUV project.

    Author: Tony Jacob
    Email: tony.jacob@uri.edu
    Year: 2024
-->
<launch>
    <arg name="robot_name" value="alpha_rise"/>
    <node ns="$(arg robot_name)" name="$(anon computer_monitoring)" pkg="computer_monitoring" type="log_ram_temp.py" output="screen"/>
</launch>